<div id="footer-wrapper"><div class="section">

          <div id="footer-columns" class="clearfix">
                  <div class="region region-footer-secondcolumn">
    
  </div>
                  <div class="region region-footer-fourthcolumn">
    <div id="block-node-syndicate" class="block block-node">

    <h2>Syndicate</h2>
  
  <div class="content">
    <a href="/rss.xml" class="feed-icon" title="Subscribe to Syndicate"><img typeof="foaf:Image" src="/misc/feed.png" width="16" height="16" alt="Subscribe to Syndicate" /></a>  </div>
</div>
  </div>
      </div> <!-- /#footer-columns -->
    
    
  </div></div>
