<div id="block-menu-menu-community" class="block block-menu">

    <h2>Community</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first collapsed"><a href="/blog" title="All blogs from BurnoutAholics.com">Blogs</a></li>
<li class="collapsed"><a href="/forum" title="BurnoutAholics forums">Forums</a></li>
<li class="leaf"><a href="/tracker" title="Most recent posts">Recent posts</a></li>
<li class="collapsed"><a href="/node/1166" title="Eventes covered by BurnoutAholics.com">Events</a></li>
<li class="leaf"><a href="/poll" title="BurnoutAholic: Points of view">Polls</a></li>
<li class="leaf"><a href="/node/8" title="How much of a BurnoutAholic are you?">Achievements</a></li>
<li class="leaf"><a href="/node/96" title="Burnout related links">Links</a></li>
<li class="leaf"><a href="/node/92" title="The BurnoutAholics.com Terms of Use">Terms of use</a></li>
<li class="last leaf">Spammer directory</li>
</ul>  </div>
</div>
