<div id="block-menu-menu-features" class="block block-menu">

    <h2>Features</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first leaf"><a href="/taxonomy/term/19/all" title="Featured Articles">Featured Articles</a></li>
<li class="leaf"><a href="/taxonomy/term/20/35" title="SUFFUR visits GCA 08">GCA 08</a></li>
<li class="leaf"><a href="/node/12" title="Burnout Videos and Tutorials">Burnout-Takes</a></li>
<li class="leaf"><a href="/node/4" title="Generate your own BurnoutAholics gamertag">Gamertag Generator</a></li>
<li class="last leaf"><a href="/faq" title="Frequently Asked Questions">FAQ</a></li>
</ul>  </div>
</div>
