<div id="block-system-main-menu" class="block block-system block-menu">

    <h2>Main menu</h2>
  
  <div class="content">
    <ul class="menu clearfix"><li class="first collapsed"><a href="/taxonomy/term/36/4" title="The latest game in the burnout series!">CRASH!</a></li>
<li class="collapsed"><a href="/node/1219" title="Welcome to Paradise">Paradise</a></li>
<li class="collapsed"><a href="/node/1223" title="Check out the latest news about Burnout Revenge">Revenge</a></li>
<li class="leaf"><a href="/taxonomy/term/13/all" title="Burnout Dominator">Dominator</a></li>
<li class="collapsed"><a href="/node/1234" title="Burnout 3: Takedown">Takedown</a></li>
<li class="collapsed"><a href="/node/69" title="Burnout 2: Point of Impact">Point of Impact</a></li>
<li class="collapsed last"><a href="/node/38" title="Part 1 of the &quot;A Blast from the Past&quot; series.">Burnout</a></li>
</ul>  </div>
</div>
