<div id="triptych" class="clearfix">
        <div class="region region-triptych-first">
    <div id="block-blog-recent" class="block block-blog">

    <h2>Recent blog posts</h2>
  
  <div class="content">
    <div class="item-list"><ul><li class="first"><a href="/node/3646">Four more years</a></li>
<li><a href="/node/3643">Almost Norwegian</a></li>
<li><a href="/node/3618">Dangerous Driving</a></li>
<li><a href="/node/3617">Sign and bring servers back </a></li>
<li class="last"><a href="/node/3616">Long time coming</a></li>
</ul></div><div class="more-link"><a href="/blog" title="Read the latest blog entries.">More</a></div>  </div>
</div>
  </div>
        <div class="region region-triptych-middle">
    <div id="block-forum-new" class="block block-forum">

    <h2>New forum topics</h2>
  
  <div class="content">
    <div class="item-list"><ul><li class="first"><a href="/node/3641" title="1 comment">Calling all Burners - are you still out there?</a></li>
<li><a href="/node/3640">MIA - What have we all been up to?</a></li>
<li><a href="/node/3620">BurnoutAholics</a></li>
<li><a href="/node/3619">Dangerous Driving</a></li>
<li class="last"><a href="/node/3572">Racing eSport</a></li>
</ul></div><div class="more-link"><a href="/forum" title="Read the latest forum topics.">More</a></div>  </div>
</div>
  </div>
          </div>
